@font-face {
	font-family: Abel;
	src: url(../fonts/abel.ttf);
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

a {
	text-decoration:none;
}

table {
    border-spacing: 0;
}

fieldset,img {
    border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}

strong {
	font-weight: bold;
}

ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

caption,th {
    text-align: left;

}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#fff;
}

q:before,q:after {
    content:'';
}

abbr,acronym { 
	border: 0;
}

/* --------------------------------------- */
* {
	font-family: Abel;
	color: #fff;
}

body {
	background-color: #111;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 1.5em;
}

p {
	font-size: 1.3em;
}

.section {
	text-align:center;
}

#section1 {
	background-image: url(../img/banner.jpg);
	background-size: 100% auto;
	background-position-y: top;
}

#section4 {
	background-image: url(../img/banner2.jpg);
	background-size: 100% auto;
	background-attachment: fixed;
}

#section1 h1, #section1 h2 {
	text-align: left;
}

.fp-controlArrow,.fp-next,.fb-prev {
	visibility: hidden;
}

#fp-nav ul li a span,.fp-slidesNav ul li a span {
	background: #fff;
}

.title {
	font-size: 3em;
	margin-bottom: 1em;
}

#profile-picture {
	width: 12em;
	height: 12em;
	border-radius: 50%;
	float: right;
}

#profile-text {
	text-align: justify;
	margin-top: 1em;
}

.icons {
	width: 6em;
	height: 6em;
	margin-bottom: 1em;
}

.skills {
	width: 1.5em;
	height: 1.5em;
	float: right;
}

.list-group {
	border-radius: 15px;
	box-shadow: 5px 10px 25px #111;
}

.list-group-item {
	background-color: #222;
	border-color: #000;
	text-align: left;
	padding: 1em;
}

.badge {
	margin-left: 0.5em;
}

.testeimg {
	width: 30em;
	height: 30em;
}

.card-text {
	margin-top: 1em;
	margin-bottom: 2em;
	text-align: justify;
}

.project-btn {
	width: 8em;
	padding: 1em;
	color: #fff;
	transition: 0.5s;
}

.project-btn:hover {
	color: #fff;
}

.card {
	background-color: #111;
	padding: 1em;
	width: 25em;
	border-radius: 15px;
	box-shadow: 5px 10px 25px #111;
}